1	   // number of categories
0..0 4096  // Category 1 spacer lengths and numMotifs to be output
0          // NUM_RYWS -- maximum number of R/Y/W/S in motifs searched
1          // minimum totalCount of occurrences for a motif to be considered
200        // max #regions -- specify any number that is guaranteed to be >= number of input regions.


